

#about_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: url("../images/about_us_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}


	.about_vertical_tittle {

	    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    left: -13%;



      		 .vert_tittle {
      		 	    transform: rotate(90deg);
      		 	    display: flex;
      		 	    align-items: center;
      		 	    animation: homeAnime .4s;
      		 	    display: none;

      		 	    &.active{

      		 	    	display:flex;
      		 	    }

      		 	    .title_line {
					     width: 130px;
					    height: 3px;
					    background-color: #000;
					    margin-right: 15px;
					  
      		 	    }

      		 	  h2 {
      		 	  	color: #000;
      		 	  	font-family: 'Conv_CentraleSans-Medium';
      		 	  	font-size: 22px;
      		 	  	text-transform: uppercase;
      		 	  }
      		 }
      }

.about_fa_icons {
	position: absolute;
    bottom: 20%;
    left: 49%;
    display: flex;
    border-bottom: 2px solid red;
    padding: 0px 7px 10px 120px;

			a {
				display: inline-block;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				border: 2px solid #000;
				display: flex;
				align-items: center;
				justify-content: center;

				 &:not(:first-child){
				 	margin-left: 10px;
				 }
			}
}


.about_container {
		
		    width: 35%;
   			 margin-left: 7%;
   			 margin-bottom: 5%;
   			 position: relative;

		.about_tittle{

			 h2 {
			 	font-size: 22px;
			    font-family: 'Conv_CentraleSans-Medium';
			    color: #000;
			    text-transform: capitalize;
			    border-bottom: 2px solid #D90000;
			    padding: 5px 40px;
			    display: inline-block;
			    padding: 0px 15px 5px 0px;
			    cursor:pointer;
			 }
		}


		.about_info_box {
			    margin-top: 40px;


			  p {
			  	color: #000;
			  	font-size: 16px;
			  	font-family: 'Conv_Centrale Sans Extra Light';
			  	text-align: justify;


			  }
		}

}      
.resp_for_about {
	background-color: unset;
}
.hamb_for_about {
	background-color: #000000 !important;

		&.active2 {
			background-color: #fff !important;
		}
}




/*Responsive*/


@media only screen and (max-width: 1450px){
	
.about_container .about_tittle h2 {
    font-size: 21px;

}

.about_container .about_info_box p {
   
    font-size: 15px;
    
}

.about_container .about_info_box {
    margin-top: 30px;
}

}


@media only screen and (max-width: 1220px){


.about_container .about_tittle h2 {
    font-size: 20px;

}

.about_container .about_info_box p {
   
    font-size: 14px;
    
}

.about_container .about_info_box {
    margin-top: 20px;
}
.about_container {
  
    margin-bottom: 0%;
}
.about_container .about_info_box p {
    font-size: 13px;
}

}



@media only screen and (max-width: 992px){

.about_vertical_tittle{
	display: none;
}

.about_container {
     width: 100%; 
    margin: 0 5%;
}
.about_fa_icons {
    position: absolute;
    bottom: 13%;
    left: unset;
    right: 0%;
    display: flex;
    border-bottom: 2px solid red;
    padding: 0px 90px 10px 00px;
}


}



@media only screen and (max-width: 576px){

.about_info_box {
	    overflow-y: scroll;
    height: 210px;


    &::-webkit-scrollbar {
   		 width: 0px;
	}

}

#about_fluid {
 
    background-position: left;
   
}
.about_container .about_info_box {
    margin-top: 10px;
}

}






@media only screen and (max-width: 576px) and (max-height: 500px) {

	.about_container {
	    width: 100%;
	    margin: 0px 5% 17%;
	}

}