

#contact_fluid {
	width: 100%;
	 height: 100vh;
	 background-image:url("../images/contact_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}


.contact_main_container {

	 width: 60%;
	 position: relative;
	     margin-bottom: 2%;





	  .contact_wrapper {

	  	 display: flex;
	  	 background-color: #fff;
	  	 padding: 25px;
	  	 position: relative;

	  	 	&:after{	
				
				position:absolute;
				width: 100%;
				height: 100%;
				content: "";
				border: 1px solid #000;
				top: 0;
				left: 0;
				z-index: 1;
	  	 	}

	  	 	&:before{
				
				position: absolute;
			    width: 68%;
			    height: 300%;
			    content: "";
			    background-color: #fff;
			    top: -81%;
			    left: -35%;
			    z-index: 7;
			    clip-path: polygon(0 0, 54% 0, 99% 100%, 0% 100%);
	  	 	}

			.contact_map {

				 flex: 0 0 70%;
				 padding-right: 45px;
				 position: relative;
    			    z-index: 9;

			}

			.contact_form {
				flex: 0 0 30%;
				position: relative;
    			z-index: 2;



				 form {
				 	width: 100%;
				 	height: 100%;

				 	.form_send {

				 		 button {
				 		 	outline: none;
				 		 	border: 1px solid #000;
				 		 	background-color: #fff;
				 		 	text-transform: capitalize;
				 		 	color: #000 !important; 
				 		 	font-family: 'Conv_CentraleSans-Medium';
				 		 	font-size: 12px;
				 		 	padding: 4px 30px;
				 		 	cursor: pointer;
				 		 }
				 	}
					
						&>div {
							width: 100%;
							margin-bottom: 10px;
						}

						.form_textarea {
							margin-bottom: 0px;
						}



						input {
							color: #000000;
							width: 100%;
							font-size: 12px;
							font-family: 'Conv_CentraleSans-Medium';
							padding: 15px 10px;
							border: 1px solid #000;

							&::placeholder{
								color: #000 !important;
							}

						}

						textarea {
							color: #000000;
							width: 100%;
							font-size: 12px;
							font-family: 'Conv_CentraleSans-Medium';
							 padding: 15px 10px;
							 border: 1px solid #000;
							 resize: none;
							 height: 294px;


							 &::placeholder{
								color: #000 !important;
							}
						}

				 }
			}


	  }
}

.contact_fa_icons {
  	position: absolute;
        bottom: -15%;
    left: 13%;
    display: flex;
    border-bottom: 2px solid red;
    padding: 0px 7px 10px 120px;
    z-index: 300;

    a {
    	border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    }

     a:not(:first-child) {
    				margin-left: 10px;
				}
}


/*responsive */


@media only screen and (max-width: 1500px){

	.contact_main_container .contact_wrapper .contact_map {
    flex: 0 0 70%;
    padding-right: 25px;
    position: relative;
    z-index: 9;
}

.contact_main_container .contact_wrapper {
   
    padding: 20px;
   
}
.contact_main_container {
    width: 80%;
    position: relative;
    margin-bottom: 2%;
}

.language_box {
   
    left: 20%;
}

}
@media only screen and (max-width: 1200px){
.language_box {
   
    left: 24%;
}

}


@media only screen and (max-width: 1376px) and (max-height: 800px) {

	
	.contact_map iframe {
		height: 320px;
	}

	.contact_main_container .contact_wrapper .contact_form form textarea {
    height: 174px;
	}




.contact_main_container .contact_wrapper .contact_form form input {

    padding: 12px 10px;
   
}
.contact_fa_icons {
  
    padding: 0px 6px 5px 120px;
  
}
.contact_fa_icons a {
  
    width: 35px;
    height: 35px;

}

}



@media only screen and (max-width: 1024px) and (max-height: 800px) {

	



}

@media only screen and (max-width: 992px) {

	.contact_main_container .contact_wrapper:before {
	    content: unset;
	}

	.contact_main_container .contact_wrapper {
    	flex-direction: column;
    	    padding: 10px;
	}
	.contact_main_container .contact_wrapper .contact_map {
    
    padding-right: unset;
  
}

.contact_map {
	 iframe {
	 	height: 230px;
	 }
}

.main_back_arrow_box {

	 a {

	 	display:block; 

	 		img {
	 			width: 55px;
	 		}
	 	}
	 
}

.main_front_arrow_box {

	

	 	

	 		img {
	 			width: 40px;
	 		}
	 
}

.main_fluid_bot_arrow {
 
    width: 115px;
    bottom: 3%;
    left: 3%;
   
}
.language_box {

    bottom: 5%;
   
}


.contact_fa_icons {
    padding: 0px 6px 5px 85px;
    bottom: -10%;
  
}


.contact_main_container .contact_wrapper .contact_form form input {
    padding: 7px 10px;
}

.contact_main_container .contact_wrapper .contact_form form textarea {
    
    height: 130px;
}
.language_box {
	left: unset;
    right: 5%;
}
.contact_main_container {
    width: 80%;
    position: relative;
    margin-bottom: 2%;
    height: calc(100% - 222px);
}

}


@media only screen and (max-width: 766px) {
	.contact_map {
	 iframe {
	 	height: 250px;
	 }
}
.contact_main_container .contact_wrapper .contact_form form textarea {
    
    height: 140px;
}

.contact_main_container {
    width: 90%;
   
}
.contact_map iframe {
    height: 200px !important;
}
.contact_main_container .contact_wrapper .contact_form form input {
    padding: 9px 10px;
}
.contact_main_container .contact_wrapper {
    padding: 10px;
}

.main_back_arrow_box {
	 img {
			width: 60px;
	 }
}

.main_front_arrow_box {

	 img {
			
			width: 40px;
	 }
}
.main_fluid_bot_arrow {
   
    width: 120px;
}

.main_fluid_bot_arrow {
   
    bottom: 1%;
 
}
.language_box {
 
    bottom: 3%;
}

.contact_fa_icons a {
    
    width: 35px;
    height: 35px;
   
}

.contact_fa_icons {
    bottom: -5%;
}


}

@media only screen and (max-width: 576px) {
.contact_main_container {
   
    height: calc(100% - 195px);
}
.contact_map iframe {
    height: 125px !important;
}
.contact_main_container .contact_wrapper .contact_form form input {
    padding: 5px 10px;
}
.contact_main_container .contact_wrapper .contact_form form textarea {
    height: 75px;
}


}

@media only screen and (max-width: 576px) and (max-height: 580px){

	.contact_map iframe {
    	height: 90px !important;
	}
	.contact_main_container .contact_wrapper .contact_form form input {
    padding: 3px 10px;
}
.contact_main_container .contact_wrapper .contact_form form textarea {
    padding: 3px 10px;
    height: 50px;
}

.contact_fa_icons {
    bottom: -7%;
}

}


@media only screen and (max-width: 576px) and (max-height: 510px){

	
	.contact_main_container {
    height: calc(100% - 140px);
}

}

